body{
    background-image: url(kepek/background.jpg);
    background-repeat: round;
    scroll-behavior:smooth ;
    background-attachment: fixed;
}
.carousel-item img{
    height: 37rem;
}
#h1carouserdiv{
    border: solid 1px black;
    border-top-right-radius: 45px;
    margin-left: 0;
    position: absolute;
    top: 486px;
    background-color: aliceblue;

}
h5>a{
    color: white;
    text-decoration: none;
}
h5>a:hover{
    color: green;
}
.row{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
a:hover{
    color: red;
}